*{
  box-sizing:border-box;
  font-family:"Segoe UI", Arial, sans-serif;
}

body{
  margin:0;
  background:#f3f4f6;
}

/* HEADER */
header{
  background:#156244;
  color:#fff;
  padding:15px 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header h2{
  margin:0;
}

nav a{
  color:white;
  margin-left:15px;
  text-decoration:none;
  font-weight:600;
}

/* MAIN CONTAINER */
.container{
  width:90%;
  max-width:1000px;
  margin:30px auto;
  background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

/* FORMS */
input, textarea{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:6px;
}

textarea{
  resize:none;
  height:80px;
}

button{
  background:#156244;
  color:white;
  border:none;
  padding:10px 16px;
  border-radius:6px;
  cursor:pointer;
  font-weight:600;
}

button:hover{
  background:#1f7a52;
}

/* DASH BUTTONS */
.actions a{
  margin-right:10px;
}

/* CARDS */
.card{
  border:1px solid #ddd;
  padding:15px;
  border-radius:8px;
  margin-bottom:15px;
}

/* FOOTER */
footer{
  text-align:center;
  color:#666;
  padding:15px;
}
/* HERO SECTION */
.hero{
  height:70vh;
  background:linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
    url("https://images.unsplash.com/photo-1568605114967-8130f3a36994");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
}

.hero-content{
  text-align:center;
  color:white;
}

.hero-content h1{
  font-size:40px;
  margin-bottom:10px;
}

.hero-content p{
  font-size:18px;
  margin-bottom:20px;
}

.hero-buttons button{
  margin:0 10px;
}

button.secondary{
  background:#ffffff;
  color:#156244;
}

/* FEATURES */
.features{
  display:flex;
  gap:20px;
  margin-top:30px;
}

.features .card{
  flex:1;
  text-align:center;
}
